/* ------------------------------ctg_container */
#heading{
    font-family: sans-serif;
    width: 85%;
    margin: auto;
}
#ctg_container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#ctg_container>div{
    width: auto;
    border: 1px solid rgb(240, 240, 240);
    display: flex;
    align-items: center;
    margin: 30px 20px 0px 0px;
    padding: 10px 0px;
}
#ctg_container>div:hover{
    border: 1px solid blue;
    cursor: pointer;
}
#ctg_container>div>img{
    width: 40px;
    margin-left: 10px;
}
#ctg_container>div>h4{
    font-family: sans-serif;
    padding:  0 10px 0 10px;
    font-size: 14px;
    font-weight: normal;
}
/* ---------------------------------------select_container */
#select_container{
    width: 100%;
    background-color: rgb(247,248,247);
}
#sub_select_container{
    width: 85%;
    margin: auto;
    padding-bottom: 20px;
}
#sub_select_container>select{
    width: 200px;
    margin: 20px 20px 0px 0;
    padding: 10px;
    font-size: 14px;
    color: grey;
    font-family: sans-serif;
    border: none;
}
#sub_select_container>select:hover{
    cursor: pointer;
}
/* ----------------------------------------item_container */

#item_container{
    width: 83%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto ;
    grid-gap: 20px;
}
#item_div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
}
#item_div>img{
width: 100%;
}
#price_div{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
#price_div>h3{
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
#price_div>select{
    width: 130px;
    height: 30px;
    border: none;
    color: gray;
    background-color: whitesmoke;
}
#item_name{
    font-family: sans-serif;
    font-size: 15px;
    color: grey;
    margin-top: 5px;
}
#btn_div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#cart_btn{
    width: 85%;
    font-size: 14px;
    background-color: #2B34A0;
    color: white;
    border: none;
    border-radius: 4px;
    /* line-height: 40px; */
    font-family: sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
#cart_btn,#wish_btn:hover{
    cursor: pointer;
}
#wish_btn{
    border: none;
    text-align: center;
    margin-right: 2%;
    font-family: sans-serif;
}

/* --------------------------------meadia query */

@media only screen and (min-width: 0px) and (max-width: 400px){
    #heading{
        font-family: sans-serif;
        width: 100%;
        margin: auto;
    }
    /* ------------------------------ctg_container */
    #ctg_container{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    /* -----------------------------select_container----- */
    #sub_select_container{
        width: 100%;
        margin: auto;
    }
    /* --------------------------------item_container */
    #item_container{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto ;
        grid-gap: 20px;
    }
    
}
@media only screen and (min-width: 401px) and (max-width: 900px){
    #heading{
        font-family: sans-serif;
        width: 100%;
        margin: auto;
    }
    /* ------------------------------ctg_container */
    #ctg_container{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    /* -----------------------------select_container----- */
    #sub_select_container{
        width: 100%;
        margin: auto;
    }
    /* --------------------------------item_container */
    #item_container{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto ;
        grid-gap: 20px;
    }
}